@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@utility font-ubuntu {
  font-family: var(--font-ubuntu);
}

@utility font-roboto {
  font-family: var(--font-roboto);
}

@utility font-montserrat {
  font-family: var(--font-montserrat);
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
}